<div class="sidebar">
    <a class="<%= (title == 'สรุปผล') ? 'active' : '' %>" href="/overall">สรุปผล</a>
    <a class="<%= (title == 'คำสั่งซื้อทั้งหมด') ? 'active' : '' %>" href="/order_all">คำสั่งซื้อทั้งหมด</a>
    <a class="<%= (title == 'จัดการสินค้า') ? 'active' : '' %>" href="/product_manage">จัดการสินค้า</a>
    <a class="<%= (title == 'จัดการหมวดหมู่หลัก') ? 'active' : '' %>" href="/categories_manage">จัดการหมวดหมู่หลัก</a>
    <a class="<%= (title == 'จัดการหมวดหมู่ย่อย') ? 'active' : '' %>" href="/sub_categories_manage">จัดการหมวดหมู่ย่อย</a>
</div>