<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <%- include('../partials/topbar') %>

        <%- include('../partials/sidebar') %>

            <div class="content" style="padding: 40px; margin-top: -10px">
                <h2>Suppliers Manage</h2><br>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Search Form -->
                    <form class="form-inline" action="/suppliers_manage" method="GET">
                        <input class="form-control mr-sm-2" type="search" name="search"
                            placeholder="Search Supplier" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>

                    </form>

                </div>
                <br>
                <a href="/add-supplier"><button class="btn btn-primary">Add
                        Supplier</button></a>
                <br>
                <br>
                <% if (Suppliers && Suppliers.length> 0) { %>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Supplier Name</th>
                                <th>Contact Name</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <% Suppliers.forEach(function(supplier) { %>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= supplier.SupplierID %>
                                    </td>
                                    <td>
                                        <%= supplier.SupplierName %>
                                    </td>
                                    <td>
                                        <%= supplier.ContactName %>
                                    </td>
                                    <td>
                                        <%= supplier.Phone %>
                                    </td>
                                    <td><a href="/edit-supplier/<%=supplier.SupplierID%>">
                                            <button class="btn btn-warning">แก้ไข</button>
                                        </a></td>
                                </tr>
                            </tbody>
                            <% }) %>
                    </table>
                    <% } else { %>
                        <p>No Suppliers found</p>
                        <% } %>
            </div>

</body>

</html>